<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener  
class-name="com.capriconians.utility.extendreport"/>
</listeners>
  <test name="Test">
    <classes>
<class name="com.capriconians.test.signuptest"/>
      <class name="com.capriconians.test.account_settingstest"/>
<class name="com.capriconians.test.Profile_test"/>
<class name="com.capriconians.test.activitiestest"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
